body {
    background-image:url('images/1a669234843a563b2b6b977034b409f684fbad0c.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "PT Sans Narrow", sans-serif;
}

@keyframes animation{
    0% {
      transform: scale(0.25);
    }
    100% {
      transform: scale(1);
    }
}

header {
    display: flex;
    justify-content: space-around;

    .bouton {
       border-radius: 5px;
        background-color: white;
        margin: 5%;
    }
}

#logo {
    max-width: 300px;
    max-height: 200px;
}

#connexion {
    height: 40px;
    width: 105px;
    font-size: 20px;
}

label, p {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

p {
    font-style: italic;
}

label {
    margin: 15px 29px 0 0;
}
  
h3, h4 {
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
  }  

legend {
    margin: -30px;
    position:absolute;
    font-size: x-large;
    font-weight: 600;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
    margin: 2% 7%;
    background-color: white;
    padding: 5%;
    animation: 1.7s ease-in animation;
}



#coordonnees {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input[type="text"], input[type="email"] {
    width: 60%;
}

input[type="checkbox"] {
    accent-color: tomato;
}

input[type="submit"] {
    margin: 15px 0 0 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    background-color: white;
}

.bouton {
    width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-style: normal;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    
    &:hover {
        cursor: pointer;
    }
}

#pass1jourDate {
    display: none;
}

#pass2joursDate {
    display: none;
}

#sectiontarifReduit {
    display: none;
}

.messageError {
    display: block;
    color: red !important;
}
